

.notebook_layout {
  min-width: 800px;
  height: 100%;
  overflow: hidden;
  background: #ececec;
}

.notebook_layout_content {
  overflow: auto;
  padding: 20px 0 0 0;

  .notebook-list-lite {
    padding: 0 5px;
    display: flex;
    flex-direction: row;
  }
}

