
.layout-page-header {
  background: #f7f7f7;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 10px;
  height: 50px;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  div:first-child {
    width: 290px;
  }

  div:last-child {
    width: 290px;
    text-align: right;
  }

  .ant-btn {
    //padding: 2px 8px;
    margin-right: 8px;
  }

}