

.notebook-list-item {
  width: 180px;
  height: 220px;
  background: #f7f7f7;
  border: 3px #d9d9d9 solid;
  border-radius: 2px;
  margin: auto;
  position: relative;

  &.notebook-list-item-selected {
    border: 3px solid #64be90;
  }

  .notebook-list-item-name {
    margin: 0 10px;
    margin-top: 40px;
    border: 1px #d9d9d9 dashed;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    span {
      line-height: 1.5;
      font-size: 18px;
      font-weight: 800;
      word-wrap: break-word;
      width: 140px;
    }
  }

  span {
    font-size: 14px;
  }

  .notebook-list-item-tools {
    position: absolute;
    right: 0;
    bottom: 5px;
    flex-direction: column;
    width: 30px;
    justify-content: space-around;
    height: 40px;
    align-items: stretch;
    display: flex;
    opacity: 0;
    transition: all .8s;

    &:hover {
      opacity: 1;
    }
  }
}